<%= form_with(model: tweet, local: true) do |f| %>
  <div class="field">
    <%= f.file_field :image, id:"tweet-image", placeholder: "画像を入れてください" %>
    <%= f.text_area :text, placeholder: "文字を入力してください", rows: "10" %>
    <%= f.submit "送信" %>
  </div>
<% end %>